#
# Kickstart template for CentOS 7
#
# References
# - https://medium.com/@jackprice/pushing-kickstarts-with-ansible-122b2cd9c1e
# - https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/installation_guide/sect-kickstart-howto#sect-kickstart-installation-starting
# - https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/installation_guide/sect-kickstart-syntax
#
install

text

eula --agreed

firstboot --disabled

reboot

skipx

keyboard --xlayouts="us"

auth --enableshadow --passalgo=sha512

selinux --permissive

cdrom

lang en_AU.UTF-8

network  --hostname={{ hostname }}.{{ domain }} --bootproto=static --device=ens192 --gateway={{ gateway }} --ip={{ ipaddress }} --nameserver={{ nameserver1 }},{{ nameserver2 }} --netmask={{ netmask }} --ipv6=auto --activate
#network  --bootproto=dhcp --ipv6=auto --activate
#network  --hostname=localhost.localdomain

rootpw password --lock

user --name=mjuenemann --groups=wheel --password=$6$h49dms-3kd0c1;h1$YLOKzqn3wlN.fE6YwH3ZDpjUwT5XrcRcJZH7UxlWgO2Nlf8CXfACSrZfVsVpDxb2es83XP4NKvBFka/AB6vq5/ --iscrypted

services --disabled="chronyd"

firewall --disabled

timezone Australia/Melbourne --utc --nontp
lang en_GB.UTF-8

bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

clearpart --none --initlabel

# /boot				2 GB (not LVM)
# /					8 GB (LVM)
# /home				8 GB (LVM)
# /var				8 GB (LVM)
# swap				4 GB (LVM)
# /tmp              4 GB (LVM)
# /opt              1 GB (LVM)
#
# TOTAL            35 GB
#                  Create 40 GB disk for spare space
#
part /boot --fstype="ext4"  --ondisk=sda --size=2000

part pv.sda --fstype="lvmpv" --ondisk=sda --size=8000 --grow
volgroup vg.{{ hostname }} --pesize=4096 pv.sda

logvol /     --fstype="xfs"   --size=8000 --name=lv.root --vgname=vg.{{ hostname }}
logvol /home --fstype="xfs"   --size=8000 --name=lv.home --vgname=vg.{{ hostname }}
logvol /var  --fstype="xfs"   --size=8000 --name=lv.var  --vgname=vg.{{ hostname }}
logvol /tmp  --fstype="xfs"   --size=4000 --name=lv.tmp  --vgname=vg.{{ hostname }}
logvol /opt  --fstype="xfs"   --size=1000 --name=lv.opt  --vgname=vg.{{ hostname }}
logvol swap  --fstype="swap"  --size=4000 --name=lv.swap --vgname=vg.{{ hostname }}

%packages
@^minimal
@core
kexec-tools
lvm2
-chrony
-firewalld-filesystem
-firewalld
%end

%post --erroronfail --log=/tmp/kickstart-post.log
# Remove grub timeout and enable verbose loading
sed -i 's/rhgb\|quiet//g' /etc/default/grub
grub2-mkconfig -o /boot/grub2/grub.cfg

# Proxy is only need during installation
echo "proxy=http://10.49.5.1:3128" >> /etc/yum.conf

# Set SELINUX to permissive
sed -i 's/SELINUX=.+/SELINUX=permissive/g' /etc/selinux/config

# Clean up yum before installing more packages
yum clean all

# Disable firewalld
systemctl disable firewalld

# Install other stuff
yum -y install epel-release net-snmp net-snmp-devel net-tools \
               yum-utils device-mapper-persistent-data ntp vim-enhanced
yum -y install python-devel python36-devel gcc make python-pip \
               python-virtualenvwrapper git vim-enhanced lsof \
               telnet iputils wget curl expect hardlink tmux \
               elinks ncftp strace bind-utils rsync jq

# NTP
cat <<EOF>/etc/ntp.conf
driftfile /var/lib/ntp/drift

restrict default nomodify notrap nopeer noquery
restrict 127.0.0.1
restrict ::1
restrict default limited kod nomodify notrap nopeer
restrict -6 default limited kod nomodify notrap nopeer

{% for ntpserver in ntpservers %}
server {{ ntpserver }} iburst
{% endfor %}

includefile /etc/ntp/crypto/pw

keys /etc/ntp/keys
EOF
systemctl enable ntpd
systemctl restart ntpd

{% if docker %}
# Add Docker
yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
yum -y install docker-ce
systemctl enable docker
{% endif %}

# Cleanup yum again to make the image smaller
yum clean all

# Remove Python object file as they will get recreated anyway
find / -name "*.pyo" -exec rm -f {} \;
find / -name "*.pyc" -exec rm -f {} \;
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
